// @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@font-face {
    font-family: "Lexend";
    src: url("../shared/media/fonts/Lexend-VariableFont_wght.ttf");
}

* {
    font-family: "Lexend", sans-serif !important;
}