.update_button {
    background: #df9b1d;
    color: white;
    border-radius: 10px;
    padding: 6px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        background: #ac791b;
    }
}

.delete_button {
    background: #b65050;
    color: white;
    border-radius: 10px;
    padding: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        background: #832e2e;
    }
}

.reset_button {
    background: #38cf2b;
    color: white;
    border-radius: 10px;
    padding: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        background: #268d1d;
    }
}

.view_button {
    background: #5050b6;
    color: white;
    border-radius: 10px;
    padding: 6px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        background: #363688;
    }
}